{{define "Main"}}
{{template "cabecera"}}
<style>
    body {
        overflow: hidden
    }
</style>

<br>
<div class="m-0 row justify-content-center">
    <div class="card w-75">
        <div class="card-body">
            <h3>Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto</h3>
        </div>
    </div>
</div>
<br>
<br>
<div class="m-0 row justify-content-center">
    <div class="card w-50">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <h4> Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto</h4>
                <br>
                <footer class="blockquote-footer"> Texto Texto Texto<cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
    </div>
</div>
<br>
<br>
<br>






{{template "footer"}}
{{end}}